/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */

:root {
  --color-bg:#ededed;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Poppins";
  --font-family-header: "Poppins";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: Poppins;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FPoppins-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FPoppins-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: Poppins;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #f2f2f2;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: Poppins;
  background-color: var(--color-bg);
}
table, th, td {
  border:1px solid black;
}
/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 400px;
}


/* Very light scaling for our illustration */
.title {
  color: #1b4965;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 105%;
  margin: 50px;
}



/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #2800FF;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* Links that open files in the editor */
.fileopener {
  cursor:pointer;
  font-weight:bold;
  border-bottom:3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom:3px solid var(--color-secondary);
}
*{
  margin: 0;
  padding: 0;
}


.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container{
  position: relative;
  padding: 20px 50px;
}

.input{
  width: 350px;
  border: 3px solid #fff;
  background: transparent;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: Poppins;
  letter-spacing: 2px;
  text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}

.close-btn{
  position: absolute;
  top: 27px;
  right: 80px;
  font-size: 35px;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.close-btn.active{
  opacity: 1;
  animation: animate 0.5s linear;
}

@keyframes animate{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1.5);
  }
  75%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}



/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */

/* General nav styles */
nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.nav-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

/* Logo styling */
.logo {
    display: flex;
    align-items: center;
}

.voter-info {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* Countdown container styling */
.countdown-container {
    text-align: left; /* Align text to the right */
    margin-top:0px;
  
}

#countdown {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
  
}

.time-box {
   
    padding: 10px;
    color: #ffffff;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}

.time-box span {
    font-size: 2rem;
    display: block;
}

.time-box p {
    margin: 0;
    font-size: 1rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
@media screen and (min-width: 601px) {
  div.navinks {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  div.navinks {
    font-size: 25px;
    width:100px;
    margin-right:10px;
  }
}

/* break */

@media screen and (min-width: 601px) {
  div.votermate {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  div.votermate {
    font-size: 55px;
    
  }
}

h1 {
    color: #333;
    margin-bottom: 20px;
   margin-top: 20px;
  margin-left: 60px;
}


input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
li{
  font-size:25px;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #007aaa;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #086c9c;
}

#results {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.official {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 200px; /* Ensures each card takes up equal space */
}

.official img {
    max-width: 100%;
    border-radius: 50%;
}

.official h2 {
    margin-top: 0;
    color: #333;
}

.official p {
    color: #666;
}

.official a {
    color: #337ab7;
    text-decoration: none;
}

.official a:hover {
    text-decoration: underline;
}
.official a:visited {
  color: #337ab7;
}


::placeholder {
  color: #999;
  opacity: 1; /* Firefox */
}

h3{
  line-height:30px;
  
}